<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemberList</title>
</head>
<body>
    <table border="1" style="border-collapse: collapse; text-align: center">
        <tr>
            <th>이름</th>
            <th>email</th>
            <th>password</th>
        </tr>
        <tr>
            <td>son1</td>
            <td>son1</td>
            <td>son1</td>
        </tr>
        <tr>
            <td>son2</td>
            <td>son2</td>
            <td>son2</td>
        </tr>
        <tr>
            <td>son3</td>
            <td>son3</td>
            <td>son3</td>
        </tr>
    </table>
</body>
</html>